{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Nos docteurs
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nos docteurs</h1>
    </div>
    <section class="doctors" id="doctors">
        <div class="container">
            {% for doctor in doctors %}
                {% include 'doctor/_thumbnail.html.twig' with {'doctor': doctor} only %}
            {% endfor %}
        </div>
    </section>
{% endblock %}

